.bg-image {
    background: url("animals/pictures/elephant2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-heading {
    position: absolute;
    padding: 2% 8% 30%;
    font-size: 3rem;
    color: #a58d8b;
}

.show_more_img {
    margin: auto;
    width: 300px;
    height: 350px;
    padding: 20px 20px;
}


.shadow {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 2%;
}

.profile_text {
    padding: 5% 10%;
    font-size: 3rem;
}

.hero {
        background-color: rgb(158,134,48);
        background: rgb(158,134,48);   
    }

fieldset {
        margin: auto;
        margin-top: 100px;
        width: 60% ;
    }       
.img-thumbnail{
        width: 70px !important;
        height: 70px !important;
    }
td
    {
        text-align: left;
        vertical-align: middle;
    }
  
.userImage{
        width: 100px;
        height: auto;
    }

